div.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.custom-bg {
    background-color: rgb(0, 255, 170);
}

.custom-alert {
    position: fixed;
    top: 25px;
    right: 25px;
}